/*Global variables*/
:root{
    --darker: 20%;
}


/*====================*/
/*Gere le split screen*/
/*====================*/
.split {
    width: 50%;
    position: absolute;
    height: 100%;
}
.left {
    left: 0;
    background-color: rgb(233, 233, 233);
}
.right {
    right: 0;
    background-color: rgb(226, 226, 226);
}

/*Stylise la saisie du nom de la commande*/
#commandeName input{
    text-align: center;
    font-size: 35px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#commandeName::before{
    font-size: 30px;
    content: "Commande:";
    display: inline-block;
    position: relative;
}



#tBoi, #tCou, #tRed{
    display: none;
}

#Rest{
    position: absolute;
    top: 70px;
    right: 10px;;
    font-size: 40px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
}
#End{
    background-color: blue;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 20px;
    color: white;
}

#myCmd{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: hsl(0, 0%, 50%);
    color: rgb(255, 0, 0);
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}
#myCmd:hover{
    background-color: hsl(0, 0%, calc(50% - var(--darker)));
}


#cmdConteneur{
    position: relative;
    list-style-type: none;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    height: calc(90vh - 155px);
    overflow-y: auto;
}
#cmdConteneur li{
    background-color: bisque;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#contentCmd{
    top: 5vh;
    height: 90vh;
}

.suprCmd{
    position: absolute;
    right: 0;
    margin-top: -10px;
    padding: 22px;

    background-color: rgba(255, 228, 196, 0);
}
.suprCmd::after{
    content: 'x';
    position: absolute;

    right: 0px;
    top: 0;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;

    background-color: #ff0000;    
}

/*Autre truc*/
#menu{
    width: 100%;
    padding: 10px;
    background-color: rgb(156, 156, 156);
}
#menu td{
    border-radius: 20px;
    padding: 3px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#Boi{
    background-color: hsl(240, 100%, 80%);
}
#Boi:hover{
    background-color: hsl(240, 100%, calc(80% - var(--darker)));
}
#Pri{
    background-color: hsl(113, 100%, 80%);
}
#Pri:hover{
    background-color: hsl(113, 100%, calc(80% - var(--darker)));
}
#Cou{
    background-color: hsl(44, 100%, 80%);
}
#Cou:hover{
    background-color: hsl(44, 100%, calc(80% - var(--darker)));
}
#Red{
    background-color: hsl(352, 100%, 80%);
}
#Red:hover{
    background-color: hsl(352, 100%, calc(80% - var(--darker)));
}

/*The second modal*/
#toExcel{
    position: absolute;
    background: rgb(217, 255, 146);
    border-radius: 20px;
    padding: 10px;

    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
#clearCmd{
    position: absolute;
    background: rgb(175, 0, 0);
    border-radius: 20px;
    padding: 10px;
    color: white;

    bottom: 10px;
    left: 10px;
    cursor: pointer;
}