/*Stylise les éléments généraux*/
body, html {
    margin: 0;
    height: 100%;
    font-family: "Lucida Console";
    padding: 0px;
    text-align:center;
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    font-size: 20px;
}
h2{
    margin: 0;
    font-size: 35px;
    color: rgb(0, 0, 0);
    padding: 15px;
    margin-bottom: 10px;
}


/*Change le curseur en pointer pour toute les classes hover*/
.hover:hover{
    cursor: pointer;
}
.noSelect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /*Chrome*/
}

/*Stylise just la barre de recherche*/
input[type=text] {
    padding: 0;
    margin: 0;

    width: 50px;
    text-align: center;

    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: none;
    border-bottom: 1.5px solid rgb(146, 146, 146);
    transition: 0.5s;
}
input[type=text]:focus {
    border-bottom: 1.5px solid #555;
}

/*==================*/
/*Stylise les popups*/
/*==================*/
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.7);
    visibility: hidden;
}
.content{
    position: fixed;
    top: 25vh;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    background-color: #B2DB77;
    width: 50%;
}


#modes{
    margin: 20px;
    text-align: left;
}