/*Stylise les éléments généraux*/
body, html {
    margin: 0;
    height: 100%;
    font-family: "Lucida Console";
    padding: 0px;
    text-align:center;
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    font-size: 20px;
}
h1 {
    margin: auto;
    font-size: 4vh;
    background-color: black;
    line-height: 150%;
    color: white;
    height: 6%;
}
h2{
    margin: 0;
    font-size: 35px;
    color: rgb(0, 0, 0);
    padding: 15px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/*Change le curseur en pointer pour toute les classes hover*/
.hover:hover{
    cursor: pointer;
}
.noSelect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /*Chrome*/
}

/*Stylise just la barre de recherche*/
input[type=text] {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 25px;

    max-width: 400px;
    width: 50%;

    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: none;
    border-bottom: 1.5px solid rgb(192, 192, 192);
    transition: 0.5s;
}
input[type=text]:focus {
    border-bottom: 1.5px solid #555;
}

.required::after{
    content: "*";
    color: red;
}