/*----------------*/
/*Gere les tableau*/
/*----------------*/
.itemList{
    border-collapse:separate; 
    border-spacing: 0 0.5em;

    width: 98%;
    margin-left: 1%;
}
div.overflow{
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    overflow: auto;
}
.stop{
    bottom: 110px;    
}
tr.item{
    height: 45px;
    padding-bottom: 10px;
}

/*Spécifique au tableau de gauche*/
.from tr{
    cursor: pointer;
}
td.titre{
    text-align: left;
    background-color: #B2DB77;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 15px;
    margin-bottom: 100px;
    width: 75%;
}
.from td.prix{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*Spécifique au tableau de droite*/
th.titre{
    text-align: center;
    padding-left: 15px;
    margin-bottom: 100px;
    width: 50%;
}
#tTo th.quantite{
    text-align: center;
    width: 25%;
}
th.prix{
    text-align: center;
}

#fTo{
    position: absolute;
    bottom: 50px;
}
#fTo th.titre{
    background-color: #B2DB77;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#fTo th.prix{
    width: 25%;
    background-color: #03AAC0;
}
#fTo th.confirm{
    background-color: #03AAC0;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    text-align: right;
    font-weight: 500;
    cursor: pointer;
}
#fTo th.confirm::after{
    content: "Confirmer";
    background-color: red;
    padding: 13px;
    border-radius: 20px;
}
#fTo th.confirm:hover{
    font-weight: 900;
}


#to td.titre{
    text-align: left;
    background-color: #B2DB77;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 100px;
    width: 50%;
    padding: 10px;
    padding-left: 15px;
}
td.quantite{
    text-align: center;
    background-color: rgb(192, 179, 3);
    width: 25%;
}
td.prix{
    text-align: center;
    background-color: rgb(3, 170, 192);
}
.supr::after{
    display: block;
    padding: 9px;
    margin-left: 1%;
    background-color: red;
    border-radius: 50%;
    content: "✕";
    text-align: center;
}
.supr{
    background-color: rgb(3, 170, 192);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0;
    width: 45px;
    height: 45px;
}
.supr:hover{
    font-weight: 900;
}
.moins, .plus{
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    background-color: hsl(56, 100%, 29%);
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
}
.moins:hover, .plus:hover{
    background-color: hsl(56, 98%, calc(29% + var(--darker)));
}