/*###############################################*/
/*# This file is just to adapt to small screens #*/
/*###############################################*/

@media screen and (max-width: 1000px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .OnePFiveText {
        font-size: 15px;
    }

    .remProd {
        width: 20px;
    }

    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}

@media screen and (max-height: 650px) {
    #addItemContent {
        top: 5vh;
        height: 90vh;
    }
}