/*Global variables*/
:root {
    --darker: 20%;
    --highlight: 35%;
    --red1: hsl(357, 67%, 58%);
    --red2: hsl(357, 76%, 50%);
    --red3: #944b4b;
    --green1: #B2DB77;
    --green2: rgb(116, 163, 49);
    --green3: #74922d;
    --blue1: hsl(192, 57%, 52%);
    --blue2: hsl(240, 100%, 40%);
    --blue3: #445f86;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body,
html {
    overflow-y: hidden;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: rgb(233, 233, 233);
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif, 'Lucida Console';
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    padding: 15px;
}

.OnePFiveText {
    font-size: 1.5vw;
}

/*TODO: add this shit*/
.twoText {
    font-size: 2vw;
}

/*Stylise just les barre de recherche*/
input[type=number] {
    margin: 0;
    padding: 5px;

    width: calc(30% - 30px);
    text-align: center;

    float: right;

    background-color: grey;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: transparent;
}

input[type=number]:focus {
    background-color: rgb(107, 107, 107);
}

input[type=text] {
    margin: 0;
    padding: 5px;

    width: calc(30% - 30px);
    text-align: center;

    background-color: hsl(56, 57%, 58%);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: transparent;
}

input[type=text]:focus {
    background-color: hsl(56, 57%, calc(58% - var(--darker)));
}

/*==================*/
/*Stylise les popups*/
/*==================*/
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.7);
    visibility: hidden;
}

.content {
    position: fixed;
    top: 5vh;
    height: 90vh;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    background-color: var(--green1);
    width: 50%;
}

/*====================*/
/*Gere le split screen*/
/*====================*/

.split {
    display: inline-block;
    vertical-align: top;
    width: 50vw;
    height: calc(100% - 55px);
}

.left {
    float: left;
    background-color: white;
}

.right {
    background-color: rgb(211, 211, 211);
}



#tBoi,
#tCou,
#tRed {
    display: none;
}

#modes {
    margin: 20px;
    text-align: left;
}

label {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    width: 65%;
    text-align: center;
    margin-bottom: 10px;
}

#Rest {
    position: absolute;
    top: 10px;
    right: 10px;
    ;
    font-size: 2vw;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 15px;
}

#End {
    background-color: var(--blue2);
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 20px;
    color: white;
}

#End:hover {
    background-color: hsl(239, 100%, calc(43% - var(--darker)));
}

#myCmd {
    background-color: hsl(0, 0%, 50%);
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}

#myCmd:hover {
    background-color: hsl(0, 0%, calc(50% - var(--darker)));
}


#cmdConteneur {
    position: relative;
    list-style-type: none;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    height: calc(90vh - 155px);
    overflow-y: auto;
}

#cmdConteneur li {
    background-color: bisque;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#contentCmd {
    top: 5vh;
    height: 90vh;
}

.suprCmd {
    position: absolute;
    right: 0;
    margin-top: -10px;
    padding: 22px;

    background-color: rgba(0, 0, 0, 0);
}

.suprCmd::after {
    content: 'x';
    position: absolute;

    right: 0px;
    top: 0;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;

    background-color: var(--red2);
}

/*Autre truc*/
#menu {
    width: 100%;
    padding: 10px;
    background-color: hsl(0, 0%, 50%);
}

#menu td {
    border-radius: 20px;
    padding: 3px;
    margin: 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#Boi {
    background-color: hsl(240, 100%, 80%);
}

#Boi:hover {
    background-color: hsl(240, 100%, calc(80% - var(--darker)));
}

#Boi.highlight {
    background-color: hsl(240, 100%, calc(80% - var(--highlight)));
    color: white;
}

#Pri {
    background-color: hsl(113, 100%, 80%);
}

#Pri:hover {
    background-color: hsl(113, 100%, calc(80% - var(--darker)));
}

#Pri.highlight {
    background-color: hsl(113, 100%, calc(80% - var(--highlight)));
    color: white;
}

#Cou {
    background-color: hsl(44, 100%, 80%);
}

#Cou:hover {
    background-color: hsl(44, 100%, calc(80% - var(--darker)));
}

#Cou.highlight {
    background-color: hsl(44, 100%, calc(80% - var(--highlight)));
    color: white;
}

#Red {
    background-color: hsl(352, 100%, 80%);
}

#Red:hover {
    background-color: hsl(352, 100%, calc(80% - var(--darker)));
}

#Red.highlight {
    background-color: hsl(352, 100%, calc(80% - var(--highlight)));
    color: white;
}

/*The second modal*/
#toExcel {
    position: absolute;
    color: white;
    background: var(--green2);
    border-radius: 20px;
    padding: 10px;

    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

#toExcel:hover {
    background: hsl(85, 54%, calc(42% - var(--darker)));
}

#clearCmd {
    position: absolute;
    background: var(--red2);
    border-radius: 20px;
    padding: 10px;
    color: white;

    bottom: 10px;
    left: 10px;
    cursor: pointer;
}

#clearCmd:hover {
    background: hsl(0, 100%, calc(35% - var(--darker)));
}


#settings {
    background-color: hsl(0, 0%, 50%);
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}

#settings:hover {
    background-color: hsl(0, 0%, calc(50% - var(--darker)));
}

#pricesSetting {
    position: relative;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    height: calc(90vh - 80px - 5vw);
    overflow-y: auto;
}

#confirmPrice {
    position: absolute;
    bottom: 10px;
    right: 10px;

    color: white;
    background-color: var(--blue2);
    padding: 1vw;
    border-radius: 20px;
    cursor: pointer;
}

#confirmPrice:hover {
    background-color: hsl(239, 100%, calc(43% - var(--darker)));
}

#resetPrices {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    color: white;
    background-color: var(--red2);
    padding: 1vw;
    border-radius: 20px;
    cursor: pointer;
}

#resetPrices:hover {
    background-color: hsl(345, 100%, calc(43% - var(--darker)));
}

#addPrice {
    position: absolute;
    bottom: 10px;
    left: 10px;

    color: white;
    background-color: var(--green2);
    padding: 1vw;
    border-radius: 20px;
    cursor: pointer;
}

#addPrice:hover {
    background-color: hsl(64, 100%, calc(36% - var(--darker)));
}

#addItemContent {
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    width: 75vw;
    height: 76vh;
    top: 12vh;
}


#confirmNewItem {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 70px);

    color: white;
    background-color: var(--green2);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

#confirmNewItem:hover {
    background-color: hsl(64, 100%, calc(36% - var(--darker)));
}


#newName {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20%;
    width: 40vw;
}

#newPrice {
    float: none;
    margin-left: 20px;
    margin-right: 20%;
    width: 40vw;
}

#inputs {
    text-align: right;
    font-size: 2vw;
}

#newCategorie {
    border-color: transparent;
    text-align: center;
    border-radius: 20px;
    background-color: var(--red3);

    margin-left: 20px;
    margin-right: 20%;
    padding: 5px;
    width: 41vw;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
}


.remProd {
    position: absolute;
    border-radius: 20px;
    background-color: var(--red2);
    float: left;
    cursor: pointer;
    top: 3px;
    bottom: 3px;
    left: 3px;
    width: 3vw;
}

.remProd::after {
    position: absolute;
    content: "X";

    top: 6px;
    left: 0;
    right: 0;
}

.transparent {
    all: unset;
    text-align: center;
    width: 100%;
}


/*####################*/
/*# Real Time Things #*/
/*####################*/

#realPeople {
    position: fixed;
    display: inline;
    color: white;
    background-color: var(--red3);
    padding: 10px;
    border-radius: 20px;
    left: 10px;
}

#realMoney {
    position: fixed;
    display: inline;
    color: white;
    background-color: var(--green3);
    padding: 10px;
    border-radius: 20px;
    right: 75%;
    transform: translateX(50%);
}

#realAverage {
    position: fixed;
    display: inline;
    color: white;
    background-color: var(--blue3);
    padding: 10px;
    border-radius: 20px;
    right: calc(50% + 10px);
}





#radioButtons {
    text-align: center;
}

/* The container */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: 15%;
}

.larger {
    width: 20%;
}

/* Hide the browser's default radio button */
.container input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: calc(50% - 12.5px);
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input[type=radio]~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input[type=radio]:checked~.checkmark {
    background-color: var(--blue1);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input[type=radio]:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


.container div {
    display: inline-block;
    text-align: left;
}

.container div input {
    width: 25%;
    margin-left: 10px;
    float: none;

    -webkit-appearance: none;
    -moz-appearance: textfield;
}

#askPrice .content {
    top: 30vh;
    height: 40vh;
}

#askPrice #askedprice {
    display: block;
    float: none;
    margin-left: 10%;
    width: 80%;
}

#askPrice #cancelAskPrice {
    position: absolute;
    background: var(--red2);
    border-radius: 20px;
    padding: 10px;
    color: white;

    bottom: 10px;
    left: 10px;
    cursor: pointer;
}

#askPrice #cancelAskPrice:hover {
    background-color: hsl(0, 100%, calc(35% - var(--darker)));
}

#askPrice #confirmAskPrice {
    position: absolute;
    background: var(--green2);
    border-radius: 20px;
    padding: 10px;
    color: white;

    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

#askPrice #confirmAskPrice:hover {
    background-color: hsl(64, 100%, calc(36% - var(--darker)));
}

#ALERT {
    position: fixed;
    top: 10px;
    right: 25%;
    left: 25%;
    padding: 5px;
    visibility: hidden;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background-color: rgb(105, 105, 105);
    color: white;
    z-index: 5;
}