/*Global variables*/
:root{
    --darker: 20%;
    --highlight: 35%;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body, html {
    overflow-y: hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: rgb(233, 233, 233);
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif, 'Lucida Console';
    font-size:20px;
    text-align:center;
    text-transform:uppercase;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}

h2{
    margin: 0;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    padding: 15px;
}

/*Stylise just les barre de recherche*/
input[type=text] {
    margin: 0;
    padding: 5px;

    font-size: 1.5vw;
    width: calc(30% - 30px);
    text-align: center;

    float: right;

    background-color: grey;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: transparent;
}
input[type=text]:focus {
    background-color: rgb(107, 107, 107);
}

/*==================*/
/*Stylise les popups*/
/*==================*/
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.7);
    visibility: hidden;
}
.content{
    position: fixed;
    top: 5vh;
    height: 90vh;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    background-color: #B2DB77;
    width: 50%;
}

/*====================*/
/*Gere le split screen*/
/*====================*/

.split {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: calc(100% - 55px);
}
.left {
    background-color: white;
}
.right {
    background-color: rgb(211, 211, 211);
}



#tBoi, #tCou, #tRed{
    display: none;
}
#modes{
    margin: 20px;
    text-align: left;
}
label{
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    width: 65%;
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 10px;
}
#Rest{
    position: absolute;
    top: 10px;
    right: 10px;;
    font-size: 2vw;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 15px;
}
#End{
    background-color: hsl(239, 100%, 43%);
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 20px;
    color: white;
}
#End:hover{
    background-color: hsl(239, 100%, calc(43% - var(--darker)));
}

#myCmd{
    background-color: hsl(0, 0%, 50%);
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}
#myCmd:hover{
    background-color: hsl(0, 0%, calc(50% - var(--darker)));
}


#cmdConteneur{
    position: relative;
    list-style-type: none;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    height: calc(90vh - 155px);
    overflow-y: auto;
}
#cmdConteneur li{
    background-color: bisque;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#contentCmd{
    top: 5vh;
    height: 90vh;
}

.suprCmd{
    position: absolute;
    right: 0;
    margin-top: -10px;
    padding: 22px;

    background-color: rgba(255, 228, 196, 0);
}
.suprCmd::after{
    content: 'x';
    position: absolute;

    right: 0px;
    top: 0;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;

    background-color: #ff0000;    
}

/*Autre truc*/
#menu{
    width: 100%;
    padding: 10px;
    background-color: hsl(0, 0%, 50%);
}
#menu td{
    border-radius: 20px;
    padding: 3px;
    margin: 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#Boi{
    background-color: hsl(240, 100%, 80%);
}
#Boi:hover{
    background-color: hsl(240, 100%, calc(80% - var(--darker)));
}
#Boi.highlight{
    background-color: hsl(240, 100%, calc(80% - var(--highlight)));
    color: white;
}
#Pri{
    background-color: hsl(113, 100%, 80%);
}
#Pri:hover{
    background-color: hsl(113, 100%, calc(80% - var(--darker)));
}
#Pri.highlight{
    background-color: hsl(113, 100%, calc(80% - var(--highlight)));
    color: white;
}
#Cou{
    background-color: hsl(44, 100%, 80%);
}
#Cou:hover{
    background-color: hsl(44, 100%, calc(80% - var(--darker)));
}
#Cou.highlight{
    background-color: hsl(44, 100%, calc(80% - var(--highlight)));
    color: white;
}
#Red{
    background-color: hsl(352, 100%, 80%);
}
#Red:hover{
    background-color: hsl(352, 100%, calc(80% - var(--darker)));
}
#Red.highlight{
    background-color: hsl(352, 100%, calc(80% - var(--highlight)));
    color: white;
}

/*The second modal*/
#toExcel{
    position: absolute;
    background: hsl(81, 100%, 79%);
    border-radius: 20px;
    padding: 10px;

    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
#toExcel:hover{
    background: hsl(81, 100%, calc(79% + var(--darker)));
}
#clearCmd{
    position: absolute;
    background: hsl(0, 100%, 35%);
    border-radius: 20px;
    padding: 10px;
    color: white;

    bottom: 10px;
    left: 10px;
    cursor: pointer;
}
#clearCmd:hover{
    background: hsl(0, 100%, calc(35% - var(--darker)));
}


#settings{
    background-color: hsl(0, 0%, 50%);
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}
#settings:hover{
    background-color: hsl(0, 0%, calc(50% - var(--darker)));
}

#pricesSetting{
    position: relative;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    height: calc(90vh - 80px - 5vw);
    overflow-y: auto;
}

#confirmPrice{
    position: absolute;
    bottom: 10px;
    right: calc(50% - 76px);
    
    color: white;
    background-color: hsl(239, 100%, 43%);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
#confirmPrice:hover{
    background-color: hsl(239, 100%, calc(43% - var(--darker)));
}