/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
/*Global variables*/
:root{
    --darker: 20%;
    --highlight: 35%;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    overflow-y: hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:rgb(255, 255, 255);
    background-image:linear-gradient(top, #A7A7A7 0%, rgb(255, 255, 255) 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, rgb(255, 255, 255) 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, rgb(255, 255, 255) 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, rgb(255, 255, 255))
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



/*====================*/
/*Gere le split screen*/
/*====================*/

.split {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: calc(100% - 55px);
}
.left {
    background-color: white;
}
.right {
    background-color: rgb(211, 211, 211);
}

/*Stylise la saisie du nom de la commande*/
#commandeName input{
    text-align: center;
    font-size: 35px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#commandeName::before{
    font-size: 30px;
    content: "Commande:";
    display: inline-block;
    position: relative;
}



#tBoi, #tCou, #tRed{
    display: none;
}
#modes{
    margin: 20px;
    text-align: left;
}
label{
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    width: 65%;
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 10px;
}
#Rest{
    position: absolute;
    top: 10px;
    right: 10px;;
    font-size: 2vw;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 15px;
}
#End{
    background-color: hsl(239, 100%, 43%);
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 20px;
    color: white;
}
#End:hover{
    background-color: hsl(239, 100%, calc(43% - var(--darker)));
}

#myCmd{
    background-color: hsl(0, 0%, 50%);
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}
#myCmd:hover{
    background-color: hsl(0, 0%, calc(50% - var(--darker)));
}


#cmdConteneur{
    position: relative;
    list-style-type: none;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    height: calc(90vh - 155px);
    overflow-y: auto;
}
#cmdConteneur li{
    background-color: bisque;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 30px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#contentCmd{
    top: 5vh;
    height: 90vh;
}

.suprCmd{
    position: absolute;
    right: 0;
    margin-top: -10px;
    padding: 22px;

    background-color: rgba(255, 228, 196, 0);
}
.suprCmd::after{
    content: 'x';
    position: absolute;

    right: 0px;
    top: 0;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;

    background-color: #ff0000;    
}

/*Autre truc*/
#menu{
    width: 100%;
    padding: 10px;
    background-color: hsl(0, 0%, 50%);
}
#menu td{
    border-radius: 20px;
    padding: 3px;
    margin: 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#Boi{
    background-color: hsl(240, 100%, 80%);
}
#Boi:hover{
    background-color: hsl(240, 100%, calc(80% - var(--darker)));
}
#Boi.highlight{
    background-color: hsl(240, 100%, calc(80% - var(--highlight)));
    color: white;
}
#Pri{
    background-color: hsl(113, 100%, 80%);
}
#Pri:hover{
    background-color: hsl(113, 100%, calc(80% - var(--darker)));
}
#Pri.highlight{
    background-color: hsl(113, 100%, calc(80% - var(--highlight)));
    color: white;
}
#Cou{
    background-color: hsl(44, 100%, 80%);
}
#Cou:hover{
    background-color: hsl(44, 100%, calc(80% - var(--darker)));
}
#Cou.highlight{
    background-color: hsl(44, 100%, calc(80% - var(--highlight)));
    color: white;
}
#Red{
    background-color: hsl(352, 100%, 80%);
}
#Red:hover{
    background-color: hsl(352, 100%, calc(80% - var(--darker)));
}
#Red.highlight{
    background-color: hsl(352, 100%, calc(80% - var(--highlight)));
    color: white;
}

/*The second modal*/
#toExcel{
    position: absolute;
    background: hsl(81, 100%, 79%);
    border-radius: 20px;
    padding: 10px;

    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
#toExcel:hover{
    background: hsl(81, 100%, calc(79% + var(--darker)));
}
#clearCmd{
    position: absolute;
    background: hsl(0, 100%, 35%);
    border-radius: 20px;
    padding: 10px;
    color: white;

    bottom: 10px;
    left: 10px;
    cursor: pointer;
}
#clearCmd:hover{
    background: hsl(0, 100%, calc(35% - var(--darker)));
}


#settings{
    background-color: hsl(0, 0%, 50%);
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}
#settings:hover{
    background-color: hsl(0, 0%, calc(50% - var(--darker)));
}

#pricesSetting{
    position: relative;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    height: calc(90vh - 160px);
    overflow-y: auto;
}

#confirmPrice{
    position: absolute;
    bottom: 10px;
    right: calc(50% - 76px);
    
    color: white;
    background-color: hsl(239, 100%, 43%);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
#confirmPrice:hover{
    background-color: hsl(239, 100%, calc(43% - var(--darker)));
}